<div class="w-full h-screen bg-neutral-900 flex flex-col">
  <app-navbar (navClick)="onNavClick($event)"></app-navbar>
  <div
    class="bg-slate-500 mx-36 my-16 flex-grow grid grid-cols-5 grid-rows-3 gap-4 p-4 overflow-hidden"
  >
    <div *ngIf="errorMessage" class="col-span-5 text-red-500 mb-4 text-center">
      {{ errorMessage }}
    </div>
    <div *ngFor="let movie of movies" class="flex items-stretch">
      <div
        class="bg-gray-800 p-4 rounded-lg shadow-lg text-white flex flex-col justify-between h-[80%] w-full hover:scale-110 transition ease-in-out"
      >
        <div>
          <h2 class="text-s font-bold mb-2">{{ movie.title }}</h2>
          <h2 class="text-xs mb-2">{{ movie.type }}</h2>
          <p class="mb-2 text-xs">Release Date: {{ movie.releaseDate }}</p>

          <p class="text-xs">
            {{ movie.description | truncate : 100 }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
