<nav class="p-4 flex flex-row justify-between items-center mx-24">
  <div>
    <ul class="flex space-x-10 justify-center mt-12">
      <li>
        <a
          routerLink="/movies"
          class="text-neutral-300 hover:text-neutral-400 transition ease-in-out px-3 cursor-pointer py-2 font-normal"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/movies"
          class="text-neutral-300 hover:text-neutral-400 transition ease-in-out px-3 cursor-pointer py-2 font-normal"
          >Movies</a
        >
      </li>
      <li>
        <a
          routerLink="/movies"
          class="text-neutral-300 hover:text-neutral-400 transition ease-in-out px-3 cursor-pointer py-2 font-normal"
          >TV Shows</a
        >
      </li>
      <li>
        <a
          routerLink="/movies"
          class="text-neutral-300 hover:text-neutral-400 transition ease-in-out px-3 cursor-pointer py-2 font-normal"
          >New & Popular</a
        >
      </li>
      <li>
        <a
          routerLink="/movies"
          class="text-neutral-300 hover:text-neutral-400 transition ease-in-out px-3 cursor-pointer py-2 font-normal"
          >My List</a
        >
      </li>
      <li>
        <a
          routerLink="/movies"
          class="text-neutral-300 hover:text-neutral-400 transition ease-in-out px-3 cursor-pointer py-2 font-normal"
          >Brows by Languages</a
        >
      </li>
    </ul>
  </div>
  <div class="">
    <input
      type="text"
      placeholder="Title , Cast.."
      class="mt-12 bg-neutral-950 border border-neutral-500 px-8 py-1"
    />
    <button class="bg-red-600 px-3 py-1 rounded-md text-neutral-400 mx-4">
      Search
    </button>
  </div>
</nav>
