<div class="relative w-full h-screen">
  <img
    src="https://cdn.neowin.com/news/images/uploaded/2023/05/1683747988_background-size1920x1080-4e1694a6-75aa-4c36-9d4d-7fb6a3102005-bc5318781aad7f5c8520.jpg"
    alt="Netflix"
    class="w-full h-full object-cover"
  />
  <div
    class="absolute inset-0 flex items-center justify-center p-4 sm:p-8 md:p-12"
  >
    <div
      class="bg-black bg-opacity-90 p-6 sm:p-8 md:p-12 rounded-lg text-start w-full max-w-lg overflow-hidden"
    >
      <h1
        class="text-red-700 text-4xl sm:text-6xl md:text-[100px] mb-12 ml-2 sm:ml-4 text-start"
      >
        fletnix
      </h1>
      <h2
        class="text-white text-2xl sm:text-3xl md:text-4xl mb-6 sm:mb-8 md:mb-10 ml-2 sm:ml-4"
      >
        Sign Up!
      </h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col gap-4 mb-4">
          <input
            formControlName="name"
            type="text"
            placeholder="Name"
            class="w-full p-4 border-[1px] border-gray-300 rounded text-white bg-black outline-none"
          />
          <input
            formControlName="email"
            type="text"
            placeholder="Email"
            class="w-full p-4 border-[1px] border-gray-300 rounded text-white bg-black outline-none"
          />
          <input
            formControlName="password"
            type="password"
            placeholder="Password"
            class="w-full p-4 border-[1px] border-gray-300 rounded text-white bg-black outline-none"
          />
          <input
            formControlName="age"
            type="text"
            placeholder="Age"
            class="w-full p-4 border-[1px] border-gray-300 rounded text-white bg-black outline-none"
          />
          <button
            type="submit"
            class="bg-red-600 text-white w-full py-2 rounded mb-4 hover:scale-110 transition ease-in-out mt-2"
          >
            Sign Up
          </button>
          <div *ngIf="errorMessage" class="text-red-500 mb-4 text-center">
            {{ errorMessage }}
          </div>
          <div *ngIf="successMessage" class="text-green-500 mb-4 text-center">
            {{ successMessage }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
