<div class="w-full h-screen bg-neutral-900 flex flex-col p-8">
  <app-navbar> </app-navbar>

  <div *ngIf="errorMessage" class="text-red-500 mb-4 text-center">
    {{ errorMessage }}
  </div>

  <div
    *ngIf="movie"
    class="bg-neutral-800 p-8 rounded-lg shadow-lg text-white flex flex-col m-24 h-screen"
  >
    <div class="text-center">
      <h1 class="text-4xl font-bold mb-8">{{ movie.title }}</h1>
    </div>
    <div class="mx-24 font-semibold">
      <h2 class="text-xl mb-4">{{ movie.type }}</h2>
      <h2 class="text-xl mb-4">ID: {{ movie.show_id }}</h2>
      <h2 class="text-xl mb-4">
        Director: <span>{{ movie.director }}</span>
      </h2>
      <h2 class="text-xl mb-4">Country: {{ movie.country }}</h2>
      <h2 class="text-xl mb-4">Date Added: {{ movie.date_added }}</h2>

      <p class="text-lg mb-4">Release year: {{ movie.release_year }}</p>
      <p class="text-lg mb-4">Duration: {{ movie.duration }}</p>
      <p class="text-lg mb-4">Rating: {{ movie.rating }}</p>
      <p class="text-lg font-light mb-4">Listed In: {{ movie.listed_in }}</p>
      <p class="text-base font-thin mb-4">{{ movie.description }}</p>
    </div>
  </div>
</div>
